*{
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

  .sec{
    
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    
  }
  .j3{

    padding-bottom: 5%;
    text-align: center;
    
  }
  .j4{

    padding-bottom: 5%;
    
  }

  .card{
    margin-left: 10%;
    margin-right: 10%;
  }

  .but3{
    margin-top: 2%;
    text-align: end;
  }
  

  .col{
    border-radius: 50%;
    text-align: cnter;
  }
  
  

  .petani{
    height: 250px;
    width: 250px;
    clip-path: circle();
  }

  .container{
    padding-top: 7%;
  }

    .btn-linkacc {
        color: #838383;
        font-weight: 400;
        width: 180px;
        font-size: 16px;
        border: solid 1px #ACB8C2;
        border-radius: 10px;
    }

    .payment-logo {
        justify-content: center;
        text-align: center;
        display: block;
        align-items: center;
        object-fit: fill;
    }

    .home {
        margin-left: 12rem;
        margin-right: 12rem;
        margin-bottom: 20px;
    }

    .text-prim {
        color: #000000;
    }

    .btn-edit {
        color: #4fb848;
        font-weight: 400;
        width: 200px;
        font-size: 16px;
        border-radius: 10px;
        background-color: #008000;
    }

    .btn-edit:hover {
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        border-radius: 10px;
        background-color: #50c878;
    }

    .dropdown {
      padding-right: 5%;
    }

    /* rating */
.rating-css div {
  color: #ffe400;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}
.rating-css input {
  display: none;
}
.rating-css input + label {
  font-size: 60px;
  text-shadow: 1px 1px 0 #8f8420;
  cursor: pointer;
}
.rating-css input:checked + label ~ label {
  color: #b4afaf;
}
.rating-css label:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}

/* End of Star Rating */